[defaults]
collections_paths        = ./collections
host_key_checking        = False
interpreter_python       = auto_silent
stdout_callback          = yaml
deprecation_warnings     = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
